.dot-flashing {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #181818;
    color: #181818;
    animation: dot-flashing .75s infinite linear alternate;
    animation-delay: 0.5s;
  }
  .dot-flashing::before, .dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
  }
  .dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #181818;
    color: #181818;
    animation: dot-flashing .75s infinite alternate;
    animation-delay: 0s;
  }
  .dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #181818;
    color: #181818;
    animation: dot-flashing .75s infinite alternate;
    animation-delay: .75s;
  }
  
  @keyframes dot-flashing {
    0% {
      background-color: #181818;
    }
    50%, 100% {
      background-color: #999797;
    }
  }